#aboutusi {
    display: flex;
    margin: 20px;
}

.aboutusimg {
    width: 50%;
    display: flex;
    justify-content: center;
}

.aboutusimg img {
    width: 450px;
    height:600px;
    margin: auto;
    margin-right: 10px;
    border-radius: 20px;
    position: relative;
    right:50px;
}

.details {
    padding: 20px;
    width: 70%;
}

.details h1 {
    padding-top: 10px 0 10px 0;
}

.details h2 {
    padding-top: 10px 0 10px 0;
}

.register {
    background-color: #25262e;
    color: white;
    padding: 0px;
    margin: 8px 0;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    width: 140px;
    height: 30px;
    font-size: small;
    text-align: center;
}

.register:hover {
    background-color:gray;
    color:black;
    transition: 0.3s;
}
